{% extends "base.html" %}

{% block title %}Backend{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet">


<style>
  body {
    
  background-image: url('face.jpg');
  background-size: cover; /* Cover the entire viewport */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image in the page */
 /* backdrop-filter: blur(5px);*/
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
    margin-top: 20px;
  }
  .header {
    background-color: #0056b3;
    color: white;
    padding: 20px 0;
    border-radius: 5px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .header h2 {
    text-align: center;
    margin: 0;
    font-size: 1.75rem;
  }
  .form-group label {
    font-weight: bold;
  }
  .btn-primary {
    background-color: #0056b3;
    border: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  .btn-primary:hover {
    background-color: #003d82;
  }
  .flashes {
    padding: 15px;
    border: 1px solid #0056b3;
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: #e9ecef;
  }
  .registered-users {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .registered-users h4 {
    margin-bottom: 25px;
    font-size: 1.5rem;
  }
  .registered-users ul {
    list-style-type: none;
    padding-left: 0;
  }
  .registered-users li {
    padding: 10px 0;
    border-bottom: 1px solid #dee2e6;
  }
</style>

<div class="container">
  <div class="header">
    <h2>HIT 400: Facial Recognition Based Access Control System</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="flashes">
            {% for message in messages %}
              <div>{{ message }}</div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      
      <form method="post" enctype='multipart/form-data'>
        <div class="form-group">
          <label for="usernameInput">Username</label>
          <input name="username" type="text" class="form-control" id="usernameInput" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="fileInput">User Image</label>
          <input name="image" type="file" class="form-control-file" id="fileInput">
        </div>
        <button type="submit" class="btn btn-primary">Register User</button>
      </form>
    </div>
    
    <div class="col-md-6">
      <div class="registered-users">
        <h4>Registered Users ({{ user_list | length }})</h4>
        <ul>
          {% for user in user_list %}
          <li>{{ user[0] }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}
